services:

  db:
    image: postgres:18
    restart: on-failure 
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD} 
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
      
  adminer:
    image: adminer
    restart: on-failure
    ports:
      - ${ADMINER_PORT}

    depends_on:
      - db
  server:
      restart: on-failure
      build:
        context: server
      volumes:
        - ./server:/app
        - /app/node_modules
      environment:
        - test=${BACKEND_DEMO}
        - DATABASE_URL=${DATABASE_URL}
      ports:
        - ${BACKEND_PORT}
      command: sh -c "npx prisma generate && npm run dev"


  client:
        restart: on-failure
        build:
          context: client
        volumes:
          - ./client:/app
          - /app/node_modules
          - /app/.angular
        environment:
          - test=${FRONTEND_DEMO}
        ports:
          - ${FRONTEND_PORT}


